*{
    padding: 0;
    margin: 0;
}
body {
    background: linear-gradient(to right, rgb(118, 36, 196), rgb(44, 78, 189));
    box-sizing: border-box;
    font-family: 'Baloo Paaji 2', cursive;
}
header {
    background: linear-gradient(to left, rgb(118, 36, 196), rgb(44, 78, 189));
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    color: snow;
    margin-bottom: 1.2rem;
    position: fixed;
    z-index: 2;
}
section {
    z-index: 1;
    position: relative;
    top: 5rem
}
ul {
    display: flex;
    justify-content: space-around;
}
li {
    list-style: none;
    padding: 0.6rem;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
}
li:hover {
    background-color: rgb(28, 26, 150);
    color: snow;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#welcome {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem;
}
img {
    width: 65%;
    height: auto;
    border-radius: 50%;
}
#welcomediv {
    width: 70%;
    height: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0,    0, 0, 0.2);
    display: flex;
    justify-content: space-around;
}
#welcometxt {
    color: snow;
    padding: 0.6rem;
    margin: auto;
}
.imagediv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 20px;
}
.text{
    width: inherit;
}
h1 {
    font-size: 3.5rem;
}
h1 > span {
    color: rgb(0, 9, 128);
    font-weight: bolder;
}
h2 {
    font-size: 2rem;
    color: snow;
}
h2 > span {
    color: rgb(0, 255, 115);
}
p {
    font-size: 1.8vw;
}
p span {
    font-weight: bold;
    color: black;
    padding-right: 5px;
}
a {
    text-decoration: none;
    color: inherit;
}
#interests {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1.2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    width: 70%; 
    height: auto;
    text-align: center;
}
#personaldetails {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
#interests p  {
    font-size: larger;
    text-align: justify;
    color: snow;
}
#facts {
    margin-bottom: 1.2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    width: 70%;
    height: auto;
}
.biodata h2 {
    text-align: center;
}
.factsdiv p {
    text-align: justify;
    font-size: large;
    margin: 0.7rem;
}
.formdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    width: 70%;
    height: auto;
    text-align: center;
}
div > p {
    padding: 5px;
}
form {
    width: 80%;
    border-radius: 10px;
    background-color: inherit;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(to left, rgb(118, 36, 196), rgb(44, 78, 189));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem;
}
.forminput{
    width: 95%;
    margin: auto;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}
input {
    border: none;
    padding: 8px;
    height: 1.2rem;
    border-radius: 4px;
    background-color: lightgrey;
}
textarea {
    border: none;
    border-radius: 4px;
    height: 6rem;
    flex-wrap: wrap;
    padding: 8px;
    margin-bottom: 1rem;
    background-color: lightgrey;
}
button {
    color: snow;
    background-color: green;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 2.2rem;
    font-size: medium;
    font-weight: bolder;
    cursor: pointer;
}
button:hover {
    background-color: rgb(9, 65, 9);
}

label > span {
    color: brown;
}
footer {
    border-top: 2px solid grey;
    text-align: center;
    padding: 5px;
    width: 100%;
}
footer p {
    font-size: inherit;
}